name: Build and Push to Docker Registry

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - reopened
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  docker_build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Set SHORT_SHA as Environment Variable
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "SHORT_SHA=${SHORT_SHA}" >> $GITHUB_ENV

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: registry.digitalocean.com/karpatkey/panic-button-app
          tags: |
            type=raw,value=pr${{ env.SHORT_SHA }}

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          file: ./Dockerfile.dev
          build-args: |
            BUILDKIT_CONTEXT_KEEP_GIT_DIR=true

  deploy_pr:
    if: github.event_name == 'pull_request'
    runs-on: self-hosted
    needs: docker_build
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Kubernetes
      uses: tale/kubectl-action@v1
      with:
        base64-kube-config: ${{ secrets.KUBE_CONFIG }}

    - name: Build and Deploy
      run: |
        SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)

        ./deploy-script.sh $SHORT_SHA

    - name: Clean up
      run: |
        rm deployment-temp.yaml
        rm ingress-temp.yaml
